<div class="section section-contact-us text-center" id="email-contact-form">
  <div class="container">
    <h2 class="title">Looking For a Developer?</h2>
    <p class="description">I'd love to help. Let me know a little about your project and what you need. I'll get back to you as soon as I can.</p>
    <div class="row">
      <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
        <%= form_for @lead, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
          <% if @lead.errors.any? %>
            <div id="error_explanation">
              <h2>Sorry, there were <%= pluralize(@lead.errors.count, "error") %> problems with your submission:</h2>
              <% @lead.errors.full_messages.each do |message| %>
                <p class='text-danger'><%= message %></p>
              <% end %>
            </div>
          <% end %>

          <div class="input-group input-lg">
            <span class="input-group-addon">
              <i class="now-ui-icons users_circle-08"></i>
            </span>
            <%= f.text_field :name, class: "form-control", placeholder: "Your Name..." %>
          </div>

          <div class="input-group input-lg">
            <span class="input-group-addon">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
            <%= f.text_field :email, class: "form-control", placeholder: "Email..." %>
          </div>

          <div class="textarea-container">
            <%= f.text_area :message, class: "form-control", rows: "4", cols: "80", placeholder: "Type a message..." %>
          </div>

          <!-- <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
          </div> -->

          <div class="send-button actions">
            <%= f.submit 'Send Message', class: "btn btn-primary btn-round btn-block btn-lg"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>